/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/11/2019, 23:29:41
    Author     : lucas
*/

body {
    padding: 0px;
    margin: 0px;
    background-color: #121212 !important;
}

#formulario_login {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 70%;
    height: 500px;
    background-color:black;
    margin: auto;
    margin-top: 50px;
    border-radius: 30px;
    border: solid #303030 3px;
    background-color: #080808;
}

#div_login {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    width: 50%;
    height: 300px;
    background-color: #080808;
}

#tabela_login {
    width: 100%;
}

label {
    color: white;
    float: right;
}

#botoes {
    float:right;
}